.home-container {
    display: flex;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .main-cake {
            display: flex;
            width: 100%;
            border: 50px inset black;
        }
    }

    .btn-wrapper {
    display: flex;

        .btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: 40px;
            width: 85px;
            border-radius: 20px;
            cursor: pointer;
            margin: 0 5px 0 5px;

            // cool effect
            background:
                linear-gradient(-45deg, #000  40%, #fff 0 60%, #000  0) right/300% 100% no-repeat,
                linear-gradient(-45deg, #0000 40%, #000 0 60%, #0000 0) right/300% 100% no-repeat;
            -webkit-background-clip: text, padding-box;
            background-clip: text, padding-box;
            transition: 0.8s
        }

        .btn-container:hover {
            background-position: left;
        }

        .btn-container:active {
            background-color: var(--border-color);
        }
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    .home-container {
        height: 90vh;
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .home-container {
        height: 90vh;
        width: 100%;
    }
}